<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExplorationTools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Explore-Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>HyperspaceKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Notification - WindowsExplorer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Photo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Today.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>WindowsExplorer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WindowsExplorer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9185EB351B4D5F65004A6BD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9185EB4A1B4D5F65004A6BD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9185EB6B1B4D60DB004A6BD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91F5CB631B4D67E20009A178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91F5CB7A1B4D68AB0009A178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91F5CB8E1B4D69530009A178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91F5CB9F1B4D6B480009A178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91F5CBA91B4D6B490009A178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91F5CBC21B4D70250009A178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
